body {
    font-family: "Open sans", Times New Roman;
}
/*
/* CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: normal;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* NAVIGATIE HEADER */

.nav {
    margin-top: 55px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-top: 0px;
    padding-bottom: 0px;
	height: auto;
	overflow: hidden;
	width: 100%;
}

li {
	float: right;
}

li a {
	display: block;
	color: #3e3d3d;
	text-align: center;
	padding: 14px 32px;
	text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #1494CC;
}

.logo {
    margin-top: 35px;
    width: 100%;
    
}

.logo img {
    width: 100%;
    
}

/* Achtergond, foto en openingstekst */

.bg {
    background: url(../img/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed; /*scroll*/
    min-height:78vh;
    max-width: 100%;
    height: auto;

}

.profielfoto {
    margin-top: 110px;
    margin-right: 30px;
    margin-bottom: 35px;
    opacity: 1.0;
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 6px solid #1494CC;
    
}

.intro {
    font-size: 40px;
    text-align: center;
    color: #fff;
    width: 500px;
    padding:10px 0 15px 0 ;
    margin-bottom: 110px;
    margin-left: auto ;
    margin-right: auto;
    line-height: normal;
    box-shadow: inset 0 0 0 1000px rgba(20,148,204,1);
    /*box-sizing: content-box;*/

    border-radius: 5px;
}

/* Blauwe achtergrond en recente artikels*/

.rood {
    background-color: #1494CC;
    /* rood origineel: #EC1A3B */
}

.recent {
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 65px;
}

.posts {
    padding-bottom: 60px


}

.picture {
    height: 373px;
    width: 373px;
    vertical-align:bottom;
}

.witvlak{
    width:373px;
    min-height: 373px;
    max-height:550px;
    background-color:#fff;
}

.blogtitel {
    font-size: 20px;
    font-weight:700;
    max-lines: 2;
    padding: 30px 20px 30px 20px;
    text-align:center;
    text-transform: uppercase;
    /* In aparte divs steken!!*/
}

.tekst {
    clear: left;
    margin: 0 20px 0 20px;
    
}

.datum {
    margin: 0 0 30px 0;
    text-align: center;
    font-style: oblique;
    color: darkgrey;
    font-weight: 800;

}

.readmore {
    font-size: 20px;
    font-weight:600;
    text-align:center;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    margin: 50px 0 10px 0;
    border: 4px solid #fff;
    
}

.readmorea {
    text-decoration: none;
    color: #fff;
}

.readmorea:hover {
    text-decoration: none;
    color: #fff;
    
}






/* FOOTER */

.footer {
    height: 160px;
    margin-top: 1000px;
    
}

.footers {
    margin: 70px 0 50px 0;
    text-align: center;
    
}

.ft1 {
    font-size: 15px;
    text-decoration: none;
    color:#000;
}


.ft2 {
    font-size: 15px;
    color: #1494CC;
    text-decoration: none;
}

.disc