/*
Theme Name: mytheme
Theme URI: http://arteveldehogeschool.be/
Description: Portfolio
Version: 1.0
Author: Jonas Janzegers
Author URI: http://www.facebook.com/jonasja
Tags: artevelde, portfolio, cmp, examenopdracht
*/

/* CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: normal;
}
ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* BODY */

body {
    font-family: 'Open sans', sans-serif;
}

/*WRAPPER COLOR*/

.blauw {
    background-color: #1494CC;
}

.wit {
    background-color: #fff;
}

/* HEADER */

.nav {
    margin-top: 55px;
}

.nav ul,
.footers ul,
.cat-list
{
    list-style-type: none;
    margin: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    height: auto;
    overflow: hidden;
    width: 100%;
}

.nav li,
.footers li,
.cat-item {
    float: right;
}

.nav li a,
.footers li a,
.cat-item a{
    display: block;
    color: #3e3d3d;
    text-align: center;
    padding: 14px 32px;
    text-decoration: none;
    font-weight: bold;
}

.nav li a:hover,
.footers li a:hover,
.cat-item a:hover{
    color: #1494CC;
}

li.current-menu-item a {
    color: #1494CC;
    text-decoration: underline;
}


.logo {
    margin: 35px 0 25px 0;
    width: 100%;
}

.logo img {
    width: 100%;
}

/* FOOTER */

#footer-sidebar {
    display:block;
    height: 250px;
}

#footer-sidebar1 {
    float: left;
    width: 360px;
    margin-left:5px;
    margin-right:5px;
    padding-top: 25px;
}

#footer-sidebar2 {
    float: left;
    width: 340px;
    margin-right:auto;
    margin-left:45px;
    margin-top: 100px;
    text-align: center;
}

#footer-sidebar3 {
    float: left;
    width: 340px;
    margin-left:5px;
    text-align: center;
    margin-top: 25px;
}


.center {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.white a {
    color:#fff;
}

.grey {
    background-color:#0e678e;
}

.darkgrey {
    background-color:#0a4a66;
}



/* HOMEPAGE */

.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*scroll*/
    background: url(./img/bg2.jpg) no-repeat fixed center center;
    min-height:78vh;
    max-width: 100%;
    height: auto;
}

.profielfoto {
    margin-top: 110px;
    margin-right: 30px;
    margin-bottom: 55px;
    opacity: 1.0;
    width: 100%;
    height: auto;
    border-radius: 100%;
    border: 6px solid #1494CC;
}

.intro {
    font-size: 40px;
    text-align: center;
    color: #fff;
    width: 500px;
    padding:10px 0 15px 0 ;
    margin-bottom: 110px;
    margin-left: auto ;
    margin-right: auto;
    line-height: normal;
    box-shadow: inset 0 0 0 1000px rgba(20,148,204,0.7);
    /*box-sizing: content-box;*/
    border-radius: 5px;
}

.padding {
    padding-bottom: 55px !important;
}

.recent {
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 45px;
}

/* HOMEPAGE BLOGPOSTS*/

.witvlak{
    width:373px;
    height:400px;
    background-color:#fff;
    padding-bottom: 30px;
}


.bgwit{
    background-color: #fff;
}

.blogtitel {
    font-size: 20px;
    font-weight:700;
    max-lines: 2;
    padding: 30px 20px 30px 20px;
    text-align:center;
    text-transform: uppercase;
    /* In aparte divs steken!!*/
}

.tekst {
    clear: left;
    margin: 0 20px 0 20px;
}

.datum {
    margin: 0 0 30px 0;
    text-align: center;
    font-style: oblique;
    color: darkgrey;
    font-weight: 800;
}

.readmore {
    font-size: 20px;
    font-weight:600;
    text-align:center;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    margin: 50px 0 0 0;
    border: 4px solid #fff;
}

.readmorea {
    text-decoration: none;
    color: #fff;
}
.readmorea:hover {
    text-decoration: none;
    color: #fff;
}

/* MARGE */

.marges{
     margin:60px 0 0 0;
 }

.clear {
    float:left;
}

/* IMAGE CONTAINER FIX */
.container {
    width:373px;
    height:373px;
    overflow: hidden;
    position: relative;
}
.container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* STYLING LINKS*/
.blogtitel a,
.titel a {
    text-decoration: underline;

    font-weight: bold;

    color: #1494CC;
}

.blogtitel a:visited,
.titel a:visited {
    text-decoration: none;

    font-size: 1.3em;

    color: #0c4e6b;
}

/* PAGINATIE */

.navigation p {
    font-family: 'Open sans', sans-serif;
    text-transform:uppercase;
    padding:30px 0 30px 0;
}
.navigation p a,
.navigation p a:visited,
.navigation p a:hover {
    color:#fff;
}
.navigation .prev {
    float:left;
}
.navigation .next {
    float:right;
}

/* CONTENT STYLING */

.content {
    padding: 20px 50px 20px 50px ;
}

.content p {
    line-height: 150%;
    margin-bottom: 15px;
}

.content p strong {
    line-height: 150%;
    margin-bottom: 15px;
}


/* PAGES */

.witbg{
    background-color: #fff;
}

.titel {
    font-size: 20px;
    font-weight:700;
    padding: 30px 20px 30px 20px;
    text-align:center;
    text-transform: uppercase;
}

/* SINGLE POST */

.singletekst {

    clear: left;
    margin: 0 50px 0 50px;
}



.singletekst p {
    line-height: 150%;
    margin: 30px 0 30px 0;
}

.singlepicture {
    object-fit: cover;
    position:relative;
    width:100%;
    height: 373px;
}

/* CONTACT */

.contact{
    padding: 30px 0 30px 30px;
    text-align: center;
}

/* GOOGLE MAPS */
.iframe {
    margin-top:2rem;
}

/* CONTACT FORM */

.wpcf7 {
    background-color: #F0F0F0;
}

.wpcf7-form {
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px 0 15px 0;

}

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
{
    background-color: #fff;
    color: #0c4760;
    width: 50%;
}

.wpcf7 input {
    height: 35px ;
}

.wpcf7 textarea[name="your-message"]{
    width: 65%;
    min-height: 200px ;
    border: none;
    border-bottom: 2px solid #1494CC;
}

.wpcf7  input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="number"]{
    border: none;
    border-bottom: 2px solid #1494CC;
}

.wpcf7 p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 5px;
    -webkit-margin-end: 5px;
    font-weight: 600;

}

.wpcf7 input[type=submit] {
    background: #1494CC;
    color: #ffffff;
    border: none;
    width: 100px;

}


/* COMMENTS  */

#comments{
    background-color: #fff;
    padding: 10px;
}

.commentlist {
    background-color: #fafafa;
    padding: 10px;
}

.commentlist a, #respond a {
    text-decoration: underline;

    font-weight: bold;

    color: #1494CC;
}

.commentlist .even .comment {
    background-color:#ccddf2;
}
.commentlist .odd .comment {
    background-color:#CCCCCC;
    float: right;
}

#comment {
    border: none;
    border-bottom: 2px solid #1494CC
}

label {
    float: left;
    padding-right: 10px;
}


.comment-meta{
    padding-bottom:20px;
}

#respond {
    background: #ececec;
    padding:10px;
}

#reply-title, .logged-in-as {
    padding:0 0 10px 0;
}

.reply{
    margin:20px 10px 20px 0;
    text-align:center;
    background-color: #1494CC;
    width:50px;

}

.submit {
    margin:0 10px 20px 0;
    text-align:center;
    font-family: "Open sans";
    color: #fff;
    background-color: #1494CC;
    width:130px;
    height:40px;
    border: none;
    margin: 15px 0 0 0;
}

a.comment-reply-link,
a.comment-edit-link {
    color: #FFFFFF;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    text-decoration:none;
}

a.comment-reply-link:hover,
a.comment-edit-link:hover {
    color: #f6e7d7;
}

.comments-area article header {
    margin: 0 0 48px;
    overflow: hidden;
    position: relative;
    background-color:#55737D;
    color:#FFFFFF;
    padding: 10px;
}

.comment article {
    padding-bottom:2.79rem;
}

#cancel-comment-reply-link  {
    text-align:center;
    background-color: #55737D;
    border:1px solid #55737D;
    border-radius:3px;
    padding:3px;
    width:50px;
    color:#FFFFFF;
    box-shadow: 1px 1px 2px 2px #4f4f4f;
    text-decoration:none;
}

#respond input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}

#respond input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

#author {
    font-size: 16px;
    color:#1d1d1d;
    letter-spacing:.1em;
}

/* FORUM */

.margesforum {
    margin:40px 0 40px 0;
}

#forums-list-0 {
    margin-bottom: 30px; !important;
    background-color: #fff;
    font-size: 16px;
}

.bbp-body a{
    text-decoration: underline;
    font-weight: bold;
    color: #1494CC;
    font-family: 'Open sans';
}