body {
    font-family: "Open sans", Times New Roman;
}


/* Navigatie */

.nav {
    margin-top: 55px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding-top: 0px;
    padding-bottom: 0px;
	height: auto;
	overflow: hidden;
	width: 100%;
}

li {
	float: right;
}

li a {
	display: block;
	color: #3e3d3d;
	text-align: center;
	padding: 14px 32px;
	text-decoration: none;
    font-weight: bold;
}

li a:hover {
    color: #EC1A3B;
}

.logo {
    margin-top: 35px;
    width: 100%;
    
}

.logo img {
    width: 100%;
    
}

/* Achtergond, foto en openingstekst */

.bg {
    background: url(../../images/bg2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed; /*scroll*/
    min-height:78vh;
    max-width: 100%;
    height: auto;
    
}
       
.profielfoto {
    margin-top: 110px;
    margin-right: 30px;
    margin-bottom: 35px;
    opacity: 1.0.;
    width: 100%;
    height: auto;
    
    
}

.intro {
    font-size: 40px;
    text-align: center;
    color: #EC1A3B;
    text-shadow: 1.4px 1.4px 5px rgba(0, 0, 0, 0.54);
    margin-bottom: 110px;
}

/* Roze achtergrond en recente artikels*/

.rood {
    background-color:#EC1A3B;
}

.recent {
    font-size: 25px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 65px;
}

.cat {
    max-height: 373px;    
    max-width: 373px;
    vertical-align:bottom;
}

.witvlak{
    width:373px;
    height:245px;
    background-color:#fff;
}

.blogtitel {
    font-size: 20px;
    font-weight:700; 
    padding: 30px 0 30px 0;
    text-align:center;
    text-transform: uppercase;
    
}

.tekst {
    clear: left;
    margin: 0 20px 0 20px;
    
}

.readmore {
    font-size: 20px;
    font-weight:600;
    text-align:center;
    text-transform: uppercase;
    padding: 10px 10px 10px 10px;
    margin: 50px 0 10px 0;
    border: 4px solid #fff;
    
}

.readmorea {
    text-decoration: none;
    color: #fff;
}

.readmorea:hover {
    text-decoration: none;
    color: #fff;
    
}

.hallo {
    padding-bottom: 60px
    
}

/* Footer */

.footer {
    height: 160px;
    margin-top: 1000px;
    
}

.footers {
    margin: 70px 0 50px 0;
    text-align: center;
    
}

.ft1 {
    font-size: 15px;
    text-decoration: none;
    color:#000;
}


.ft2 {
    font-size: 15px;
    color: #EC1A3B;
    text-decoration: none;
}

.disc